<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wqz.dm.dao2.AllFaceMapper" >
  <resultMap id="BaseResultMap" type="com.wqz.dm.pojo2.AllFace" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="cameraId" property="cameraid" jdbcType="INTEGER" />
    <result column="picUrl" property="picurl" jdbcType="VARCHAR" />
    <result column="isMale" property="ismale" jdbcType="TINYINT" />
    <result column="age" property="age" jdbcType="INTEGER" />
    <result column="datetime" property="datetime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, cameraId, picUrl, isMale, age, datetime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from all_face
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAllId" resultType="java.lang.Integer">
    select id
    from all_face
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select *
    from all_face
  </select>
  <select id="selectByIds" resultMap="BaseResultMap">
    select *
    from all_face
    where id in 
    	<foreach 
			item="id" 
			index="index" 
			collection="ids" 
			open="(" 
			separator="," 
			close=")">
				#{id}
		</foreach>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from all_face
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wqz.dm.pojo2.AllFace" >
    insert into all_face (id, cameraId, picUrl, 
      isMale, age, datetime
      )
    values (#{id,jdbcType=INTEGER}, #{cameraid,jdbcType=INTEGER}, #{picurl,jdbcType=VARCHAR}, 
      #{ismale,jdbcType=TINYINT}, #{age,jdbcType=INTEGER}, #{datetime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.wqz.dm.pojo2.AllFace" >
    insert into all_face
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="cameraid != null" >
        cameraId,
      </if>
      <if test="picurl != null" >
        picUrl,
      </if>
      <if test="ismale != null" >
        isMale,
      </if>
      <if test="age != null" >
        age,
      </if>
      <if test="datetime != null" >
        datetime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="cameraid != null" >
        #{cameraid,jdbcType=INTEGER},
      </if>
      <if test="picurl != null" >
        #{picurl,jdbcType=VARCHAR},
      </if>
      <if test="ismale != null" >
        #{ismale,jdbcType=TINYINT},
      </if>
      <if test="age != null" >
        #{age,jdbcType=INTEGER},
      </if>
      <if test="datetime != null" >
        #{datetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wqz.dm.pojo2.AllFace" >
    update all_face
    <set >
      <if test="cameraid != null" >
        cameraId = #{cameraid,jdbcType=INTEGER},
      </if>
      <if test="picurl != null" >
        picUrl = #{picurl,jdbcType=VARCHAR},
      </if>
      <if test="ismale != null" >
        isMale = #{ismale,jdbcType=TINYINT},
      </if>
      <if test="age != null" >
        age = #{age,jdbcType=INTEGER},
      </if>
      <if test="datetime != null" >
        datetime = #{datetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wqz.dm.pojo2.AllFace" >
    update all_face
    set cameraId = #{cameraid,jdbcType=INTEGER},
      picUrl = #{picurl,jdbcType=VARCHAR},
      isMale = #{ismale,jdbcType=TINYINT},
      age = #{age,jdbcType=INTEGER},
      datetime = #{datetime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>